.container {
  width: 100%;
  margin-bottom: 20px;
}

.textCategory {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 500;
  color: #f1f2f2;
}

.categoryText {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Heebo-regular';
}
.categoryImg:nth-child(4n+0) {
  margin-right: 1rem
}

.inactiveDot {
  width: 12px !important;
  height: 12px !important;
  background-color: rgba(12,12,13,0.1);
  border-radius: 50%;
  margin: 0 6px;
}

.activeDot {
  width: 20px !important;
  height: 12px !important;
  background-color: #4cc7f2;
  border-radius: 6px;
  margin: 0 6px;
}

.notification {
  height: 1.5rem;
  width: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
}

.header {
  background-color: #4cc7f2;
  padding: 8px 50px 8px 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 40;
  justify-content: space-between;
}

.iconSearch {
  padding: 2px;
  display: inline-flex;
}

.seachBox {
  display: flex;
  flex: 1;
  align-items: center;
  height: 46px;
  padding: 11px 15px;
  background-color: #fff;
  border-radius: 8px;
  font-weight: 500;
}

.iconNotif {
  margin-left: 20px;
  display: flex;
  justify-content:  center;
  align-items:  center;
}

.ml_3 {
  margin-left: 15px;
}

.cartTextLeft {
  font-size: 18px;
  font-weight: 500;
  color: #58595b;
}

.cartTextRight {
  font-size: 14px;
  font-weight: 500;
  color: #f5a005;
}

.productImageContainer {
  border-radius: 8px;
  position: relative; 
  display: inline;
  background: #f1f2f2; 
  box-shadow: rgba(12, 12, 13, 0.1) 0px 2px 4px 0px;
}

.productImage {
  
  padding: 4px;
  
}

.productDescription {
  margin-top: 10px;
}

.productName {
  font-size: 12px;
  color: #58595b;
  font-weight: 400;
  text-align: center;
} 

.productPrice {
  font-size: 14px;
  color: #58595b;
  font-weight: 700;
  text-align: center;
} 

.productDiscountPrice {
  font-size: 14px;
  display: inline;
  color: #aaaaaa;
  font-weight: 400;
  text-decoration: line-through;
}

.productDiscountPercentage {
  font-size: 14px;
  display: inline;
  color: #f5a005;
  font-weight: 400;
  margin-left: 5px;
}

.overflow {
  overflow: scroll;
  padding-left: 20px;
  padding-right: 20px;
}

.productContainer {
  border-radius: 8px;
  width: 140px; 
  display: flex; 
  flex-direction: column;
}

.productContainer + .productContainer {
  margin-left: 15px;
}

.navigationContainer {
  position: sticky;
  bottom: 0;
  background: #fafafa;
  width: 100%;
  height: 50px;
  box-shadow: rgba(12,12,13,0.05) 0px -1px 2px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  font-size: 12px;
  font-weight: 500;
}


.navigationActive {
  color: #4cc7f2;
}

a:link {
  background-color: transparent;
  text-decoration: none;
}